@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");

:root {
  --very-very-dark-blue: #0a0a16;
  --blurple: #320072;
  --dark-peach: #ff6a6a;
  --black: #000000;
  --green-olive: #60b102;
  --blue-violet: #5957fa;
  --white: #ffffff;

  --font-fam: "Libre Franklin", "Poppins", sans-serif;
  --font-para: 13px;
  --font-para-lg: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= styles ================== */

body {
  font-family: var(--font-fam);
  font-size: var(--font-para);
  background: var(--very-very-dark-blue);
  color: var(--white);

  max-width: 1600px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 10% 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section {
  background: linear-gradient(45deg, var(--blurple), rgb(0, 77, 122));
  border-radius: 15px;
  padding: 10% 8%;
  margin: 1rem;

  min-height: 40%;

  /* center-elements */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* ================ section 1 =============== */
#about {
  text-align: center;
}

#about img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 1rem;
}

h3#avatar-designation {
  font-size: 12px;
  color: var(--dark-peach);
}

p#avatar-about {
  margin-top: 10%;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* ================ section 2 =============== */
#links {
  justify-content: space-evenly;
  display: grid;
  text-align: center;
  gap: 1rem;
}

.link-head h2 {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.links-container {
  list-style-type: none;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.links-container li {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--green-olive);
  transition: all ease-in-out 0.3s;
}

.links-container li a {
  text-decoration: none;
  color: var(--black);
}

.links-container li:hover {
  background: var(--blue-violet);
  box-shadow: 0 0 10px 1px rgba(20, 75, 255, 0.479);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.icon-container {
  margin-right: 12px;
}

.icon-container img {
  width: 20px;
}

/* =============== media query ============== */
/* screen: tablet */
@media screen and (min-width: 768px) {
  main {
    margin: 0 6%;
    flex-direction: row;
    justify-content: center;
  }

  section {
    flex-basis: 50%;
  }

  #links {
    padding: 5% 1%;
  }

  #about {
    padding: 5% 3%;
  }
}

/* screen: desktop */
@media screen and (min-width: 1200px) {
  main {
    margin: auto 12%;
    font-size: var(--font-para-lg);
  }

  #links {
    flex-basis: 50%;
    padding: 5% 4%;
  }

  #about {
    flex-basis: 30%;
  }

  .links-container li {
    padding: 0.5rem 1rem;
  }

  .icon-container img {
    width: 22px;
  }
}
